/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

* {
  box-sizing: border-box;
}

.weatherApp {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  padding: 5px;
  overflow-x: hidden;
}

.weatherSearch {
  width: 100%;
  text-align: center;
}

.weatherSearch form {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 0 auto;
  width: 80%;
  border-radius: 25px;
  padding: 5px 10px;
  outline: none;
  border: none;
  border-image-outset: none;
  background-color: #fff;
}

.weatherSearch input {
  background-color: transparent;
  border: none;
  width: 100%;
  font-size: 16px;
}

.weatherSearch input:focus-visible {
  border: none;
  outline: none;
}

.weatherSearch button {
  box-sizing: border-box;
  border-radius: 20px;
  padding: 5px 10px;
  background-color: #2121f1;
  border: none;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}

.weatherSearch>div {
  margin-top: 10px;
  color: orange;

}

@media screen and (min-width: 840px) {

  .weatherApp {
    width: 800px;
    max-width: 1300px;
    margin: 50px auto;
  }
}